<meta charset="UTF-8" />
<title>Shopping Cart</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<style>
  body {
    padding-top: 50px;
  }
  li {
    list-style: none;
  }
</style>
